/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    font-size: 62.5%;
}

/* Estilos gerais */
body {
    font-family: "Poppins";
    line-height: 1.6;
}

h1 {
  font-size: 3.5rem;
}

button {
  cursor: pointer;
}

.container {
    
    background-color: #e7e9ec;

}

.no-scroll {
    overflow: hidden; /* Desativa a rolagem */
    height: 100%; /* Impede que o conteúdo fique rolável */
}


header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border-bottom: solid #e7e9ec 1px;
    transition: transform 0.3s ease;
}

header.hide {
    transform: translateY(-100%); /* Faz o header sumir para cima */
}

.navbar {
    position: sticky; /* Fixado no topo da tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #fff;
    z-index: 1004;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: white;
  }
  
.hamburger-btn span {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease-in-out;
  }


.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: -100vh; 
    left: 0;
    width: 100%;
    overflow: hidden; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10rem;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.menu ul.active {
    top: 0;
    opacity: 1;
}

.menu a {
    color: black;
    text-decoration: none;
    background-color: #dadada;
    padding: 2rem;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.list.active {
    display: flex;
}

.hamburger-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger-btn.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .profile {
    width: 100%;
    height: 92vh;
    background-image: url(Design\ sem\ nome\ \(3\).svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .names h1 {
    font-family: "Abiah-Regular";
    font-size: 6rem;
    line-height: 5rem;
    color: #fff;
  }

  .names h1:first-child {
    padding-left: 1rem;
  }

  .names h1:nth-child(2)::before {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 100%;
    position: relative;
    top: 8rem;

  }

  .names span {
    font-size: 5rem;
  }

  .names {
   position: relative;
    top: 15rem;

  }

  .names p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    top: 5rem;
  }

  .names img {
    height: 2rem;
    position: relative;
    top: 6rem;
    left: 14.5rem;
  }

.title {
    text-align: center;
    font-family: "Abiah-Regular";
    font-weight: 3.8rem;
    font-weight: bold;
}

.about {
    text-align: center;
    margin-bottom: 20px;
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    background-color: #e7e9ec;
}


.about h1 {
    font-family: "Abiah-Regular";
    text-transform: uppercase;
    font-weight: bolder;
}

.about p {
    font-size: 14px;
    font-family: "Poppins";
    text-align: justify;
}

.about span {
    font-weight: bold;
}

.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: bold;
}

.circle:nth-child(1) {
  background-color: #fff;
}

.circle:nth-child(2) {
  background-color: rgb(209, 209, 209);
}

.circle:nth-child(3) {
  background-color: rgb(240, 193, 162);
}

.circle:nth-child(4) {
  background-color: #000;
  color: #fff;
}

.palette-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 colunas */
  gap: 2rem; /* Espaçamento entre os círculos */
  justify-content: center; /* Centraliza os círculos horizontalmente */
  margin: 0 auto; /* Garante que o grid esteja alinhado ao centro */
  max-width: 14rem; 
  padding: 2rem 0;/* Limita a largura do grid para mantê-lo proporcional */
}


/* Estilos do grid */
/* .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding:1rem 1rem 5rem 1rem;
    justify-items: center;
    align-items: center;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  width: 100%;
  max-width: 1200px; /* Igual ao container do .options-menu */
  padding: 1rem 1rem; /* Adiciona padding lateral consistente */
  margin: 0 auto; /* Centraliza o grid em relação ao container */
}

.item {
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 27rem; /* Altura fixa para todos os itens */
    font-family: "Poppins";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo de forma uniforme */
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}



.item img {
    width: 100%;
    height: 15rem; /* Define uma altura fixa para as imagens */
    object-fit: contain; /* Garante que a imagem seja redimensionada proporcionalmente */
    border-radius: 4px;
    padding-top: 2rem;
}


.item p {
    font-size: clamp(1rem, 2vw, 1.4rem); /* Define um tamanho mínimo, ideal e máximo */
    color: #333;
    height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    text-align: center; /* Evita quebra de linha */
    text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
}


/* Layout para telas maiores */


.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
    margin-top: 2rem;
}

.status {
    position: absolute; /* Posiciona o status fora do fluxo normal */
    top: -10px; /* Ajusta a posição vertical */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Corrige o alinhamento horizontal */
    background-color: #4caf50; /* Verde */
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Poppins";
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    z-index: 10;
}

/* Disponível */
[data-status="disponivel"] .status {
    background-color: #4caf50; /* Verde */
    color: white;
}

/* Indisponível */
[data-status="indisponivel"] .status {
    background-color: #f44336; /* Vermelho */
    text-decoration: line-through;
}

.item-btn {
    padding: 0.8rem 2.5rem;
    border: none;
    background-color: #dadada;
    font-family: "Poppins";
    border-radius: 0.5rem;
    cursor: pointer;
}

.item-btn:hover {
  background-color: #898989;
}


footer {
    margin-top: 2rem;
}



.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; /* Ficar na frente de outros elementos */
    width: 100vh;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Estilo do conteúdo do modal */
  .modal-content {
    background-color: white;
    padding: 0px 1rem 2rem 1rem;
    border: 1px solid #888;
    width: 80%; /* Tamanho do modal */
    max-width: 400px;
    text-align: center;
    border-radius: 1rem;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    max-height: 60rem;
  }
  
  /* Estilo para o fechamento do modal */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .reservation-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 25rem;
    height: 100%;
}

.reservation-modal input {
    outline: none;
}

  
  
  #choices-list {
    list-style-type: none;
    padding: 0;
  }
  
  #choices-list li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  #choices-list li p {
    font-size: 1.2rem;
  }
  
.manage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.manage button, .modal-btn {
    font-family: "Poppins";
    border-radius: 0.5rem;
    border: solid 1px #333;
    padding: 0.5rem 1rem;
    height: 3rem;
    cursor: pointer;
}

.manage button:hover {
    background-color: #d0d0d0;
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 25rem;
    height: 100%;
}

.login input {
    height: 3rem;
    outline: none;
}

.delete-btn {

    color: rgb(255, 130, 130);
    border: none !important;
    padding: 0.2rem 1rem !important;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 5px;
    
  }

footer .dev {
    color: #565656;
    background-color: #e7e9ec;
    text-align: center;
    padding-bottom: 2rem;
}
  
.input-container {
  position: relative;
  width: 100%;
  max-width: 40rem; /* Ajuste conforme necessário */
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  
}

.input-container #password, #user-name {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.input-container #password:focus {
  outline: none;
}

.thank-you-modal {
    height: 20rem;
}

.heart-icon {
    font-size: 2rem;
    color: red;
}

.options-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px; /* Igual ao container do grid */
  padding: 0 1rem; /* Adiciona padding lateral consistente */
  margin: 0 auto; /* Centraliza o menu em relação ao container */
}

.options-menu input, .options-menu button {
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
}

.options-menu button {
  padding: 0.8rem 0.8rem;
  background-color: #dadada;
  border: solid 1px #565656;
}

.options-menu button:hover {
  background-color: #898989;
  cursor: pointer;
}


@media (min-width: 768px) {
  .grid {
      grid-template-columns: repeat(4, 1fr);
  }


.about     {
      margin: 0 20%;
  }

/*   .options-menu {
    margin-left: 11rem;
  } */
}

.buttons button {
  padding: 10px;
  margin: 5px;

}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {

  margin-top: 20px;
}

.content p {
  font-size: 18px;
}

.content-btn {
  font-size: 2rem;
  border-radius: 100% !important;
  width: 4rem !important;
  height: 4rem !important;
  justify-content: center;
  display: flex;
}

#add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

#add-item-section {
height: 100%;
}

#add-item-btn {
  margin-top: 2.5rem;
}